* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
	background-image: linear-gradient(to right, rgb(39, 9, 87), rgb(102, 3, 194));
color: white;
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.box {

  background-color: #181818;
  width: 800px;
  border-radius: 10px;
  overflow: hidden; 
  justify-content: center;
  align-items: center;
  display: flex; 
  padding: 20px; 
  
}

.lista {
	padding: 20px;
	text-align: center;
	list-style: none;
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
}

.referencia{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.referencia div{
  border: #dadada solid 1px;
  background-color: #dadada;
  border-radius: 10px;   
  margin: 5px;
  padding: 8px;  
  width: 300px;  
}
.referencia div:hover{
  border: #dadada solid 1px;
  background-color: #181818;

  
}
 .referencia a{
  color: rgb(99, 99, 99);   
  text-decoration: none;  
} 

@media only screen and (max-width: 550px) {
  *{
    font-size: 5vw;
  }
  main h1{
    font-size: 9vw;
  }
	.box {
		width: 90vw;
    
	}
}
 
  
